<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="doc" class="com.document.Excel"></bean>
	
	<bean id="docManager" class="com.document.DocumentManager">
		<constructor-arg index="0" ref="doc"></constructor-arg>		
	</bean>
	
	
</beans>
