<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">


		<!-- 准备目标类 -->
		<bean id="salary_manager" class="com.aop.salary_test_spring.SalaryManagerImpl"></bean>
		
		<!-- 准备切面 -->
		<bean id="logger" class="com.aop.salary_test_spring.Logger"></bean>
		<bean id="security" class="com.aop.salary_test_spring.Security"></bean>
		
		<!-- 配置AOP -->
		
		<aop:config>
			<aop:pointcut expression="execution(* com.aop.salary_test_spring.SalaryManagerImpl.*(..))" id="sal"/>
			<aop:aspect ref="sal">
				<aop:before method=""/>
				<aop:before method=""/>
			</aop:aspect>
		</aop:config>
</beans>
