@CHARSET "UTF-8";
  /*作者：baoxiaofei*/
   body{
    width:100%;
	height:100%;
    margin:0px;
    overflow-x:hidden;
  }
 .top{
   width:100%;
   height:200px;
   border:1px solid black;
  }
  .hot{
  	width:100%;
  	height:40px;
  	font-size:1.3em;
  	text-align:center;
  	color:white;
  	background:#000000;
    filter:alpha(Opacity=80);
    -moz-opacity:0.5;
    opacity:0.5;
    margin-top:150px;
    padding-top:10px;
  }