<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	<bean id="person_dao" class="com.mvc.PersonDaoImpl"></bean>
	
	<bean id="person_service" class="com.mvc.PersonServiceImpl">
		<property name="personDao" ref="person_dao"></property>
	</bean>

	<bean id="person_action" class="com.mvc.PersonAction">
		<property name="personService" ref="person_service"></property>
	</bean>
	
</beans>
